<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>
    <link rel="stylesheet" type="text/css" href="public/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <aside class="sidebar">
    <div class="logo">Logo</div>
    <nav>
      <ul class="nav">
        <li><a href="/training">Training</a></li>
        <li><a href="/diet">Diet</a></li>
        <li><a href="/new">Create your program</a></li>
        <li><a href="/edit">Edit your program</a></li>
        <li><a href="/logout">Log out</a></li>
        
      </ul>
    </nav>
  </aside>



<% @days.each do |day| %>
  <div class="day">
    <p><strong><%= day[:day] %></strong></p>

    <% if day[:exercises].any? %>
      <ul>
        <% day[:exercises].each do |exercise| %>
          <li>
            <%= exercise %>
              <li>
                <form action="/exercises/update" method="post" style="display:inline;">
                  <input type="hidden" name="day" value="<%= day[:day] %>">
                  <input type="hidden" name="old_exercise" value="<%= exercise %>">
                  <input type="text" name="new_exercise" value="<%= exercise %>" required>
                  <button type="submit">✏️</button>
                </form>
                <form action="/exercises/delete" method="post" style="display:inline;">
                  <input type="hidden" name="day" value="<%= day[:day] %>">
                  <input type="hidden" name="old_exercise" value="<%= exercise %>">
                  <button type="submit">❌</button>
                </form>
              </li>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Rest Day</p>
        <form action="/exercises/add" method="post">
        <input type="hidden" name="day" value="<%= day[:day] %>">
        <input type="hidden" name="old_exercise" value="">
        <input type="text" name="new_exercise" placeholder="New Exercise" required>
        <button type="submit">Add</button>
      </form>
    
    <% end %>
    
  </div>
<% end %>
