<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>
    <link rel="stylesheet" type="text/css" href="public/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <aside class="sidebar">
    <div class="logo">Logo</div>
    <nav>
      <ul class="nav">
        <li><a href="/programs">Training</a></li>
        <li><a href="/diet">Diet</a></li>
        <li><a href="/programs/new">Create your program</a></li>
        <li><a href="/programs/edit">Edit your program</a></li>
        <li><a href="/logout">Log out</a></li>
        
      </ul>
    </nav>
  </aside>


  <div class="container">
    <main class="main">
      <section class="box box-1">
        <% if @days_per_week || @goal || @duration %>
          <p>Duration: <%= @duration || "None" %> min</p>
          <p>Trainingdays in week: <%= @days_per_week || "None" %> days </p>
          <p>Goal: <%= @goal || "None" %> </p>
        <% else %>
          <p>Duration: None</p>
          <p>Trainingdays in week: None </p>
          <p>Goal: None </p>
        <% end %>
        <form action="/users/<%= session[:user_id] %>" method="GET">
          <button type="submit">Show profile</button>
        </form>
        <form action="/users/<%= session[:user_id] %>/delete" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete Profile</button>
        </form>
        <form action="/exercises/delete_all" method="post">
          <button type="submit">Delete all your exercises</button>
        </form>
        <p>Session role: <%= @role['role'] %></p>
        <% if @role['role'] == "admin" %>
          <form action="/users/deleteAll" method="post">
            <button type="submit">Delete all profiles that are not admins</button>
          </form>
          <p>Delete profile with ID:</p>
          <form action="/users/delete" method="post">
            <input type="number" name="user_id" id="user_id" required>
            <button type="submit">Delete</button>
          </form>
          <h2>Users:</h2>
          <ul>
            <% @users.each do |user| %>
              <li>
                User-id: <%= user["id"] %>, Username: <%= user["username"] %>, Role: <%= user["role"] %>
              </li>
            <% end %>
          </ul>
        <% end %>
      
      

      </section>
      <div class="week-container">
      <% @days.each do |day| %>
        <div class="day">
          <p><strong><%= day[:day] %></strong></p>
          <% if day[:exercises].any? %>
            <ul>
              <% day[:exercises].each do |exercise| %>
                <li><%= exercise %></li>
              <% end %>
            </ul>
          <% else %>
            <p>Rest Day</p>
          <% end %>
        </div>
      <% end %>
      </div>
    </main>
  </div>
</body>
</html>
